/*

*/

body {
 padding-top:50px;
 background-color: #F5F5F5;

}

#sidebar{
  z-index: 1000;
}
.contenido{
  font-size: 18px;
}

#success_message{ display: none;}
#masthead {
 min-height:200px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}


@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 992px) {
  #sidebar.affix-top {
    position: static;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}
.post-list{
  min-height: 150px;
}
.post-category{
  font-size: 12px;
  color:blue;
}

.img-featured{
height: 135px;
width: 200px;
}
.img-principal{
  height: 270px;
  width: 600px;
  padding-bottom: 20px;
}
.post-title{
  font-size: 16px;
  font-weight: bold;
}
.post-info{
  font-size: 12px;
}

.foot-links a, .foot-links p{
  display: block;
   color: rgb(63, 63, 63);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 13px;
  color: rgb(63, 63, 63);
  padding-bottom: 5px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;

}
.foot-links img{
	padding-top: 5px;
}
.well {
  margin-bottom: 0;
}
.navbar-fixed-top .nav {
    padding: 4px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

}
