<!--
    Autor = Javier Cancela Torres
    Fecha = 09/06/2016
    Licencia = GPL v3
    Versión = 1.0
    Descripción = Notijuegos, tu página de videojuegos
    Copyright (C) 2015  Javier Cancela Torres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="well">
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li>NotiJuegos
                    </li>
                    <li>
                        <a href="#">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li>
                        <a href="#">Soporte</a>
                    </li>
                    <br>
                    <a ui-sref="home.legal">Aviso legal</a>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li>Trabaja con nosotros
                    </li>
                    <li>
                        <a href="#">¿Por que NotiJuegos?</a>
                    </li>
                    <li>
                        <a href="#">¿Cómo trabajar?</a>
                    </li>
                    <li>
                        <a href="#">Manda tu artículo</a>
                    </li>
                    <br>
                    <a ui-sref="home.privacity">Política de privacidad</a>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li>Comunidad
                    </li>
                    <li>
                        <a href="#">Foros</a>
                    </li>
                    <li>
                        <a href="#">Temas nuevos</a>
                    </li>
                    <li>
                        <a href="#">Grupos nuevos</a>
                    </li>
                </ul>
                <br>
                <p>© 2016 Notijuegos. Todos los derechos reservados</p>
            </div>
        </div>
    </div>


</div>
