<!--
    Autor = Javier Cancela Torres
    Fecha = 09/06/2016
    Licencia = GPL v3
    Versión = 1.0
    Descripción = Notijuegos, tu página de videojuegos
    Copyright (C) 2015  Javier Cancela Torres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
              <img class="navbar-brand" src="img/imagenWeb.png" alt="notijuegos">
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li ng-class="{'active' : $state.current.name == 'home'}">
                    <a ui-sref="home">Home</a>
                </li>
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Idioma<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Español</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Français</a></li>
          </ul>
        </li>
                <li>
                    <a ui-sref="home">Trabaja con nosotros</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="!isLogin">
                <li ng-class="{'active' : $state.current.name == 'home.login'}">
                    <a ui-sref="home.login">Conectarse</a>
                </li>
                <li ng-class="{'active' : $state.current.name == 'home.signup'}">
                    <a ui-sref="home.signup">Registrarse</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"  ng-if="isLogin">
                <li ng-class="{'active' : $state.current.name == 'home.dashboard'}">
                    <a ui-sref="home.dashboard">Perfil de {{name}}</a>
                </li>

            </ul>
        </nav>
    </div>
</nav>
