<!--
    Autor = Javier Cancela Torres
    Fecha = 09/06/2016
    Licencia = GPL v3
    Versión = 1.0
    Descripción = Notijuegos, tu página de videojuegos
    Copyright (C) 2015  Javier Cancela Torres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="breadcrumbs" id="breadcrumbs">
    <ol class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Login</li>
    </ol>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        <i class="icon-coffee green"></i>
                        Conectarse a NotiJuegos
                    </h4>

                    <form name="loginForm" class="form-horizontal" role="form" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="email">Email</label>
                            <div class="col-sm-5 form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control" name="email" placeholder="Email" ng-model="login.email" required focus/>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="col-sm-offset-3 col-sm-3 col-sm-offset-8 text-danger" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty">
                                <div ng-message="required">Este campo es requerido</div>
                            </div>
                          </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="password">Password</label>
                                <div class="col-sm-5 form-group has-feedback has-feedback-left">
                                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="login.password" required />
                                    <i class="fa fa-lock form-control-feedback"></i>
                                </div>
                                <div class="col-sm-offset-3 col-sm-3 col-sm-offset-8 text-danger" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty">
                                    <div ng-message="required">Este campo es requerido</div>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="clearfix">
                                <div class="row text-center">
                                    <label class="col-sm-3 control-label no-padding-right"></label>
                                    <div class="col-sm-7">
                                        <button type="submit" class="pull-left btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                                            <i class="ace-icon fa fa-key"></i>
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <span class="lbl col-sm-3"></span>
                            <div class="col-sm-7">¿No tienes una cuenta?
                                <a ui-sref="home.signup">¡Regístrate!</a>
                            </div>
                        </form>

                    </div>
                    <!-- /widget-main -->

                </div>
                <!-- /widget-body -->
            </div>
            <!-- /login-box -->

        </div>
        <!-- /position-relative -->
    </div>
