<!--
    Autor = Javier Cancela Torres
    Fecha = 09/06/2016
    Licencia = GPL v3
    Versión = 1.0
    Descripción = Notijuegos, tu página de videojuegos
    Copyright (C) 2015  Javier Cancela Torres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>{{post.title}}</h4>
                </div>
                <div class="panel-body text-center">
                    <h2>{{post.title}}</h2>
                    <h4>{{post.subtitle}}</h4>
                    <div class="post-info">
                      Fecha:
                      <b>{{post.date | convertToDate}}</b>
                      || Autor:
                      <b>{{post.username}}</b>
                      || Plataforma:
                      <b>{{post.platform_name}}</b>
                    </div>
                    <hr>
                    <img ng-src="img/{{post.image_url}}" class="img-responsive center-block">
                    <hr>
                    <p class="contenido text-justify" ng-bind-html="post.content | convertToHtml">
                    </p>
                    <hr>
                </div>
                <!--/right-->
            </div>
            <!--/panel-body-->
        </div>
        <!--/panel-->
    </div>
    <!--/row-->
</div>
<!--/container-->
<!--




 -->
