<!--<div id="masthead">
</div>
-->
<!--main-->
<!--
    Autor = Javier Cancela Torres
    Fecha = 09/06/2016
    Licencia = GPL v3
    Versión = 1.0
    Descripción = Notijuegos, tu página de videojuegos
    Copyright (C) 2015  Javier Cancela Torres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container">
<div class="container slider">
    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

    <a class="arrow prev" ng-click="nextSlide()"></a>
    <a class="arrow next" ng-click="prevSlide()"></a>
    <nav class="navSlider">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav>
</div>

    <div class="row">
        <!--left-->
        <div class="col-sm-3" id="leftCol">
            <div id="sidebar" class="panel panel-primary" sidebar-affix>
                <div class="panel-heading">
                    <h3>Filtros</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-stacked">
                        <li>
                            <label for="category">Mostrar:
                            </label>
                            <select class="form-control" name="category" ng-model="category">
                                <option value="">Todo</option>
                                <option value="Noticia">Noticias</option>
                                <option value="Analisis">Analisis</option>
                            </select>
                        </li>
                        <li>
                            <label for="nombrePost">Titulo:
                            </label>
                            <input type="text" ng-model="name" class="form-control" id="nombrePost" placeholder="Titulo de Articulo">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--/left-->

        <!--right-->
        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Lo ultimo en Notijuegos</h4>
                </div>
                <div class="panel-body">

                    <div class="post-list" ng-repeat="post in posts | filter:category | filter:name | orderBy:'-date' track by post.post_id">
                        <div class="col-sm-4 text-center">
                            <img ui-sref="post.{{post.category_name}}({postUrl: post.post_url})" ng-src="img/{{post.image_url}}" class="img-featured img-responsive">
                        </div>
                        <div class="col-sm-8">
                            <div class="post-category">
                                <p>{{post.category_name}}</p>
                            </div>
                            <div class="post-title">
                                <a ui-sref="post.{{post.category_name}}({postUrl: post.post_url})">{{post.title}}</a>
                            </div>
                            <div class="post-extract">
                                <p>{{post.extract}}</p>
                            </div>
                            <div class="post-info">
                                Fecha:
                                <b>{{post.date | convertToDate}}</b>
                                || Autor:
                                <b>{{post.username}}</b>
                                || Plataforma:
                                <b>{{post.platform_name}}</b>
                            </div>
                            <hr>
                        </div>

                    </div>

                </div>
                <!--/right-->
            </div>
            <!--/panel-body-->
        </div>
        <!--/panel-->
    </div>
    <!--/row-->
</div>
<!--/container-->
