<!--
    Autor = Javier Cancela Torres
    Fecha = 09/06/2016
    Licencia = GPL v3
    Versión = 1.0
    Descripción = Notijuegos, tu página de videojuegos
    Copyright (C) 2015  Javier Cancela Torres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Privacidad</li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Política de privacidad</h4>
                </div>
                <div class="panel-body text-center">
                  <h1>POLÍTICA DE PRIVACIDAD</h1>
              <h2>QUIÉNES SOMOS</h2>
  			<p>A través de este documento se regula el tratamiento de los datos personales facilitados por los usuarios, visitantes e interesados en los servicios ofrecidos por este portal (el <span class="negrita">“Sitio Web”</span>). Puedes consultar la información relativa a la sociedad que gestiona el Sitio Web (la <span class="negrita">SOCIEDAD</span>) visitando al Aviso Legal que aparece al pie de la página principal.</p>

          <h2>CONTENIDO Y ACEPTACIÓN DE LA POLÍTICA DE PRIVACIDAD</h2>

          <p>La presente Política de Privacidad tiene por objeto dar a conocer el modo en que recabamos, tratamos y protegemos los datos de carácter personal recabados a través del Sitio Web, a fin de que los usuarios determinen libre y voluntariamente si desean facilitar sus datos personales a través de los formularios habilitados al efecto.</p>

          <p>El Sitio Web proporcionará a los usuarios los recursos técnicos adecuados para que, con carácter previo a la cumplimentación de los datos personales, puedan acceder a esta Política de Privacidad y a cualquier otra información relevante en materia de Protección de Datos de Carácter Personal.</p>

          <p>El acceso y uso del Sitio Web por el usuario (el “Usuario”) implica que acepta en su totalidad y se obliga a cumplir por completo los términos y condiciones recogidos en la presente Política de Privacidad, así como en las disposiciones contenidas en el Aviso Legal y Condiciones de Uso, la <a href="http://www.vocento.com/politica-cookies/" TARGET="_blank">Política de Cookies</a> y, en su caso, las Condiciones Generales Contratación; configurándose los citados documentos en su conjunto como los Textos Legales rectores del Sitio Web. La prestación del servicio del Sitio Web tiene una duración limitada al momento en el que el Usuario se encuentre conectado al Sitio Web o alguno de los servicios que a través del mismo se facilitan; por tanto, el Usuario debe leer atentamente la presente Política de Privacidad en cada una de las ocasiones que se proponga utilizar el Sitio Web, ya que ésta puede sufrir modificaciones en función de novedades o exigencias legislativas y jurisprudenciales o por necesidades de negocio.</p>


          <p>La presente Política de Privacidad será válida únicamente para los datos de carácter personal obtenidos en el Sitio Web, no siendo aplicable para aquella información recabada por terceros en otras páginas web, incluso si éstas se encuentran enlazadas por el Sitio Web.</p>


          <h2>RESPONSABLES DE LOS FICHEROS Y RECOGIDA DE LOS DATOS DE CARÁCTER PERSONAL </h2>


          <p>En cumplimiento con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y su normativa de desarrollo, ponemos en conocimiento del Usuario que los datos recabados a través de cualesquiera formularios de recogida de datos del Sitio Web serán incorporados a dos ficheros de datos de carácter personal titularidad, respectivamente, de la SOCIEDAD y de Comeresa Prensa, S.L. (“COMERESA”). Ambas entidades garantizan la confidencialidad de los datos de carácter personal facilitados y el cumplimiento de toda la normativa aplicable al efecto.</p>


          <p>Todos los campos que aparezcan señalados con un asterisco (*) en dichos formularios serán de obligada cumplimentación, de tal modo que la omisión de alguno de ellos podría comportar la imposibilidad de que se pueda atender su solicitud. </p>

          <p>Asimismo, al hacer “click” en el botón “Enviar” (o equivalente) incorporado en los citados formularios, declara que la información y los datos que en ellos ha facilitado son exactos y veraces. Para que la información facilitada esté siempre actualizada y no contenga errores, el Usuario deberá comunicar, a la mayor brevedad posible, las modificaciones de sus datos de carácter personal que se vayan produciendo, así como las rectificaciones de datos erróneos en caso de que detecte alguno.</p>

          <p>En el contexto de los tratamientos que se describen a continuación, es posible que suministre datos de carácter personal relativos a terceros. En este sentido, es su responsabilidad informar de tal circunstancia a los terceros cuyos datos nos va a ceder, así como, en caso de ser necesario, obtener su consentimiento expreso para suministrarnos dicha información.</p>
          <h2>DESCRIPCIÓN DE LOS TRATAMIENTOS DE DATOS QUE SE REALIZAN A TRAVÉS DEL SITIO WEB </h2>
          <p class="underline">Tratamientos de datos por la SOCIEDAD</p>

          <p>La SOCIEDAD podrá tratar sus datos de carácter personal de acuerdo con las siguientes finalidades, en función del formulario completado en cada caso: </p>

          <ul>
              <li>Gestionar su navegación a través del Sitio Web.</li>
              <li>Gestionar su registro de usuario e identificarle como “usuario registrado” para así personalizar su interfaz y mostrarle contenido e información acorde a sus intereses.</li>
              <li>Darle de alta como participante de concursos y/o sorteos organizados por la SOCIEDAD, o por terceros, para gestionar adecuadamente su participación en los mismos.</li>
              <li>Dar respuesta a las dudas, quejas, comentarios o inquietudes que pueda tener relativas a la información incluida en el Sitio Web, los servicios que se prestan a través del Sitio Web, el tratamiento de sus datos personales, cuestiones referentes a los textos legales incluidos en el Sitio Web, así como cualesquiera otras consultas que pueda tener.</li>
              <li>Gestionar y promocionar apropiadamente el contenido de los anuncios (p.e. avisos de ocasión sobre arrendamiento o venta de vehículos o viviendas, ofertas de empleo, etc.) que cargue en el Sitio Web, con el fin de agilizar las respuestas de posibles compradores. </li>
              <li>Realizar actividades de comercio electrónico, en su caso.</li>
              <li>Tratar sus datos con fines comerciales, siempre que el Usuario haya consentido el pertinente tratamiento de datos personales, ya sea por medios ordinarios o electrónicos.En función de las opciones autorizadas por el Usuario, los envíos podrán ir referidos a productos y/o servicios de la SOCIEDAD, a productos y/o servicios de otras sociedades de Vocento (ver detalle en www.vocento.com), o a productos y/o servicios de terceros seleccionados por la SOCIEDAD de diferentes áreas de actividad (empleo y formación, Informática y tecnología, ocio y diversión, gastronomía y alimentación, muebles y electrodomésticos, antigüedades, decoración e interiores, organizaciones y asociaciones, subastas, bricolaje, mascotas, servicios financieros y seguros, ofertas inmobiliarias, motor y automoción, artículos para hombre/mujer, viajes y turismo, productos infantiles, música y libros, salud y bienestar, sociedad, deportes). </li>
              <li>Gestionar el cumplimiento, mantenimiento, desarrollo y control de las cualesquiera relaciones que la SOCIEDAD mantenga con el Usuario. </li>
              <li>Cualquier otra finalidad que sea específicamente reflejada en las correspondientes leyendas y/o condiciones particulares del formulario de recogida de datos, a fin de atender los distintos tipos de relaciones que pueda mantener con el Usuario en función de cada caso.</li>

          </ul>
          <p class="underline">Tratamientos de datos por COMERESA</p>
          <p>Adicionalmente, el Usuario queda informado de que sus datos de carácter personal podrán ser tratados por COMERESA con las siguientes finalidades: </p>
          <ul>
              <li>Gestionar su alta y acceso como usuario registrado al Sitio Web.</li>
              <li>Realizar estudios estadísticos y de gestión de perfiles.</li>
              <li>Gestionar el procedimiento de “Single Sign On”
                  (“SSO”). El SSO es un procedimiento de autenticación que te permitirá acceder a cualquier portal de Vocento utilizando las mismas credenciales sin necesidad de registrarte en cada uno de ellos. Otra gran ventaja de este sistema es que tu sesión de usuario se conservará en todos los portales de Vocento que selecciones, y no tendrás que iniciarla en cada uno de ellos.</li>
              <li>Redireccionar al Usuario al correspondiente sitio web en el que el Usuario se haya registrado para un determinado servicio, en caso de que el Usuario acceda a ese servicio desde otro portal del grupo.</li>
              <li>Tratar sus datos con fines comerciales, siempre que el Usuario haya consentido el pertinente tratamiento de datos personales, ya sea por medios ordinarios o electrónicos. En función de las opciones autorizadas por el Usuario, los envíos podrán ir referidos a productos y/o servicios de las sociedades de Vocento (ver detalle en www.vocento.com), o a productos y/o servicios de terceros seleccionados por la COMERESA de diferentes áreas de actividad (empleo y formación, Informática y tecnología, ocio y diversión, gastronomía y alimentación, muebles y electrodomésticos, antigüedades, decoración e interiores, organizaciones y asociaciones, subastas, bricolaje, mascotas, servicios financieros y seguros, ofertas inmobiliarias, motor y automoción, artículos para hombre/mujer, viajes y turismo, productos infantiles, música y libros, salud y bienestar, sociedad, deportes).</li>
              <li>Gestionar el cumplimiento,mantenimiento,desarrollo y control de cualesquiera relaciones que COMERESA mantenga con el Usuario. </li>
              <li>Cualquier otra finalidad que sea específicamente reflejada en las correspondientes leyendas y/o condiciones particulares del formulario de recogida de datos, a fin de atender los distintos tipos de relaciones que pueda mantener con el Usuario en función de cada caso.</li>


          </ul>

                  <h2>COMUNICACIONES COMERCIALES</h2>
                  <p>El Usuario es informado de que a través de cada formulario de recogida de datos podríamos recabar su consentimiento para enviarle comunicaciones comerciales. De dar su consentimiento expreso, a efectos de lo cual deberá marcar o no marcar (según el caso) las casillas que aparecerán en los pertinentes formularios de recogida de datos, podríamos ponernos en contacto con el Usuario por correo ordinario, correo electrónico, SMS, o cualquier otro medio de comunicación electrónica equivalente, para remitirle información sobre aquellos productos y/o servicios que creamos pueden ser de su interés. </p>
                  <p>Asimismo, podríamos solicitar el consentimiento del Usuario para remitirle comunicaciones comerciales sobre productos de las distintas sociedades pertenecientes al grupo Vocento que se pueden consultar en el siguiente <a href="http://www.vocento.com" TARGET="_blank">link</a>, así como comunicaciones sobre terceros pertenecientes a los siguientes sectores de actividad: empleo y formación, informática y tecnología, ocio y diversión, gastronomía y alimentación, muebles y electrodomésticos, antigüedades, decoración e interiores, organizaciones y asociaciones, subastas, bricolaje, mascotas, servicios financieros y seguros, ofertas inmobiliarias, motor y automoción, artículos para hombre/mujer, viajes y turismo, productos infantiles, música y libros, salud y bienestar, sociedad, deportes. </p>
                  <p>En cualquier caso, el Usuario no queda obligado a recibir la mencionada publicidad e información ni a contestar las encuestas, ya sea mediante la no marcación de las correspondientes casillas del formulario, ya sea mediante comunicación posterior, ya que si en un determinado momento el Usuario no desea seguir recibiendo comunicaciones de esta naturaleza, podrá revocar su consentimiento mediante el envío de la notificación pertinente a las direcciones que constan en el apartado denominado “Ejercicio de derechos” de la presente Política de Privacidad, aportando copia de un documento que permita acreditar su identidad, o bien utilizando el link habilitado al efecto en las comunicaciones comerciales que reciba. La solicitud será atendida a la mayor brevedad posible.</p>
                  <p>Por último, indicar que la SOCIEDAD actúa como mero difusor en relación a los "banners" o pancartas publicitarias u otros medios publicitarios que aparecen en el Sitio Web, resultando por tanto dicha publicidad ajena al régimen de servicios prestados por la SOCIEDAD y a su política de privacidad.</p>
                  <h2>CONSENTIMIENTO</h2>
                  <p>Al usar el Sitio Web el Usuario nos autoriza a recabar y tratar los datos descritos en la presente Política de Privacidad y la Política de Cookies . Si introdujésemos algún cambio en los procedimientos y políticas de privacidad, publicaremos dichos cambios en el Sitio Web para mantener al Usuario informado sobre el tipo de información que recopilamos, cómo la tratamos y en qué circunstancias podríamos revelarla.</p>
                  <p>El Usuario queda informado, asimismo, de que podrá revocar el consentimiento prestado para el tratamiento de sus datos, siempre que sea legalmente adecuado, mediante el envío de la notificación pertinente a las direcciones que constan en el apartado “Ejercicio de derechos” de la presente Política de Privacidad, aportando copia de un documento que permita acreditar su identidad.</p>
                  <h2>COOKIES</h2>
                  <p>Al igual que otros portales de Internet, el Sitio Web utiliza una tecnología denominada “cookies" para recabar información sobre la forma de utilización del Sitio Web. Si desea obtener información detallada sobre cómo la SOCIEDAD utiliza las cookies, consulte la Política de Cookies . </p>
                  <h2>CESIÓN DE DATOS PERSONALES</h2>
                  <p>No comunicaremos los datos de carácter personal del Usuario a terceras empresas pertenecientes o no al grupo Vocento sin recabar su previo consentimiento, salvo que la cesión de sus datos fuese necesaria para el mantenimiento de la relación con el Usuario. </p>
                  <p>A estos efectos, en el caso de que el Sitio Web recogiera anuncios y ofertas de terceros, el Usuario acepta la cesión a las empresas anunciantes de los datos de carácter personal previamente facilitados en aquellos supuestos en los que el propio usuario manifieste expresamente interés por algún producto o servicio en particular, a fin de que la empresa anunciante responsable de dicho producto o servicio pueda contactar con el Usuario a los únicos efectos de completar la información facilitada en el anuncio y en su caso realizar la correspondiente transacción, en la medida en que tal cesión es indispensable para la correcta prestación del servicio solicitado por el Usuario.</p>
                  <p>En todo caso, cuando la cesión no sea necesaria para la correcta prestación del servicio contratado, en los formularios de recogida de datos informaremos al Usuario de la finalidad del tratamiento y de la identidad o sectores de actividad de los posibles cesionarios de los datos personales, ofreciendo previamente al Usuario la posibilidad de aceptar o no esta cesión. </p>
                  <h2>SEGURIDAD</h2>
                  <p>La SOCIEDAD ha implementado y mantiene los más altos niveles de seguridad exigidos por la Ley para proteger los datos de carácter personal del Usuario frente a pérdidas fortuitas y a accesos, tratamientos o revelaciones no autorizados, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos. No obstante, la </p>
                  <p>transmisión de información a través de Internet no es totalmente segura; por ello, y a pesar de que la SOCIEDAD realizará sus mejores esfuerzos para proteger los datos del Usuario, no puede garantizar la seguridad de los mismos durante el tránsito hasta el Sitio Web. Toda la información que el Usuario facilite, se enviará por su cuenta y riesgo. Una vez recibidos los datos del Usuario, la SOCIEDAD utilizará rigurosos procedimientos y funciones de seguridad para impedir cualquier acceso no autorizado. </p>
                  <h2>SITIOS DE TERCEROS</h2>
                  <p>En el Sitio Web se podrían incluir enlaces a sitios controlados por terceros. El Usuario debe recordar que al usar un enlace para acceder desde el Sitio Web a otro, dejarán de surtir efectos la Política de Privacidad y la Política de Cookies . La presente Política de Privacidad no refleja las prácticas en materia de privacidad de esos otros sitios de terceros. La SOCIEDAD declina cualquier tipo de responsabilidad con respecto a la privacidad y el tratamiento de datos de otros sitios web. La navegación e interacción en cualquier otro sitio web, incluidos aquellos que estén enlazados con el Sitio Web, está sujeta a las normas y políticas de dicho sitio. Recomendamos al Usuario que lea las políticas de tratamiento de datos y privacidad de los sitios web que visite a través del enlace existente en el Sitio Web o de cualquier otro modo. Si el Usuario desea obtener más información, podrá consultar nuestras Condiciones de Uso .</p>
                  <h2>CONFIDENCIALIDAD</h2>
                  <p>Los datos personales que podamos recabar a través del Sitio Web o por medio de las distintas comunicaciones que mantengamos con el Usuario serán tratados con absoluta confidencialidad, comprometiéndonos a guardar secreto respecto de los mismos y garantizando el deber de guardarlos adoptando todas las medidas necesarias que eviten su alteración, pérdida y tratamiento o acceso no autorizado, de acuerdo con lo establecido en la legislación aplicable.</p>
                  <h2>PROPIEDAD INTELECTUAL</h2>
                  <p>Los derechos de propiedad intelectual del Sitio Web, su código fuente, diseño, estructuras de navegación y los distintos elementos en ella contenidos son titularidad de la SOCIEDAD, a quien corresponde el ejercicio exclusivo de los derechos de explotación de los mismos en cualquier forma y en especial, los derechos de reproducción, distribución, comunicación pública y transformación, de acuerdo con la legislación española y de la unión europea aplicable. La SOCIEDAD informa al Usuario de que no concede licencia o autorización expresa o implícita alguna sobre los derechos de propiedad intelectual y/o industrial o sobre cualquier otro derecho o propiedad relacionada, directa o indirectamente, con los contenidos incluidos en el Sitio Web.

                  </p>
                  <p>Queda totalmente prohibida la reproducción total o parcial de los contenidos del Sitio Web. La utilización no autorizada de estos contenidos dará lugar a las responsabilidades legalmente establecidas. La SOCIEDAD no será responsable de las infracciones realizadas por el Usuario del Sitio Web que afecten a terceros.</p>
                  <p>La SOCIEDAD informa al Usuario de que en caso de que suba contenidos al Sitio Web, el Usuario seguirá manteniendo la titularidad de los derechos sobre su contenido, si bien deberá otorgar una licencia de los mismos a favor de la SOCIEDAD y de otros usuarios del Sitio Web de conformidad con los siguientes términos y condiciones:

                  </p>
                  <ul>
                      <li>Al subir, cargar o publicar contenido en el Sitio Web (el “Contenido”) el Usuario acepta otorgar:

                          <ul>
                              <li class="interna">a favor de la SOCIEDAD, una licencia para todo el mundo, no exclusiva y transferible (con facultad de sublicenciar a terceros), por la duración máxima de los derechos de conformidad con la legislación aplicable, para utilizar, reproducir, distribuir, comunicar públicamente (incluida la puesta a disposición del público), realizar obras derivadas, transformar, mostrar y ejecutar ese Contenido en relación con la prestación de los servicios del Sitio Web y con el funcionamiento del Sitio Web y de la actividad de la SOCIEDAD, incluyendo sin limitación alguna, a efectos de promoción y redistribución de la totalidad o de una parte del Sitio Web (y de sus obras derivadas) en cualquier formato y/o modalidades de explotación y a través de cualquier canal de comunicación;</li>
                              <li class="interna">a favor de cada usuario del Sitio Web, una licencia para todo el mundo, no exclusiva para acceder a su Contenido a través del Sitio Web, y para poder utilizar, reproducir, realizar obras derivadas, transformar y ejecutar el Contenido.</li>
                          </ul>

                      </li>
                      <li>Las anteriores licencias otorgadas por el Usuario con respecto al contenido quedarán canceladas cuando el Usuario elimine o borre sus contenidos del Sitio Web. </li>
                  </ul>
                  <h2>REGISTRO DE USUARIO Y CONTRASEÑA</h2>
                  <p>Asimismo, le informamos de que mediante el registro se le asigna un usuario y contraseña que le permitirá iniciar sesión, en cualquier momento, como Usuario Registrado del Sitio Web y, por tanto, acceder a todas las funcionalidades del mismo. La contraseña podrá ser modificada por el Usuario, si bien en tal caso éste no podrá elegir expresiones o conjuntos gráfico-denominativos malsonantes, injuriosos, coincidentes con marcas, nombres comerciales, rótulos de establecimientos, denominaciones sociales, expresiones publicitarias, nombres o pseudónimos de personajes de relevancia pública o famosos para cuya utilización no esté autorizado, y, en general, contrarios a la ley o a las exigencias de la moral y las buenas costumbres generalmente aceptadas.</p>
                  <p>Para tener acceso a determinados servicios que el Sitio Web le ofrece será necesario que el Usuario nos proporcione información específica. El Usuario deberá proporcionar información verídica, quedando prohibido el uso de alias o medios para ocultar su identidad, con excepción de los casos en que el mismo formulario le solicite al Usuario de manera expresa la creación de un nombre de usuario, nick o alias. </p>
                  <p>Es indispensable que el Usuario resguarde en todo momento los números de referencia, contraseñas y códigos de acceso que le serán provistos. El Usuario será el único responsable en caso del uso, autorizado o no, de su cuenta personal, y en este sentido se compromete a hacer un uso diligente de dicha información, a no ponerla a disposición de terceros, y a comunicar su pérdida o robo.</p>
                  <h2>MENORES</h2>
                  <p>Los menores de 18 años no podrán usar los servicios disponibles a través del Sitio Web sin la previa autorización de sus padres, tutores o representantes legales, quienes serán responsables de todos los actos realizados a través del Sitio Web por los menores a su cargo, incluyendo la cumplimentación de los formularios con los datos personales de dichos menores y la marcación, en su caso, de las casillas que los acompañan.</p>
                  <h2>EJERCICIO DE DERECHOS</h2>
                  <p>El Usuario podrá ejercer en cualquier momento sus derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus datos de carácter personal mediante el envío de una notificación por escrito, adjuntando fotocopia de un documento que acredite su identidad, a las direcciones indicadas <a href="#" TARGET="_blank">aquí</a>.</p>
                  <p>Para cualquier duda relacionada con la presente Política de Privacidad, el Usuario podrá ponerse en contacto con la SOCIEDAD o con COMERESA a través de esas mismas direcciones.</p>


                </div>
                <!--/right-->
            </div>
            <!--/panel-body-->
        </div>
        <!--/panel-->
    </div>
    <!--/row-->
</div>
<!--/container-->
<!--




 -->
