<!--
    Autor = Javier Cancela Torres
    Fecha = 09/06/2016
    Licencia = GPL v3
    Versión = 1.0
    Descripción = Notijuegos, tu página de videojuegos
    Copyright (C) 2015  Javier Cancela Torres
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
          <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">SignUp</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Registrarse a NotiJuegos
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" role="form" novalidate>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="email" class="form-control" placeholder="tunombre@tucorreo.com" name="email" ng-model="signup.email" focus required/>
                                        <div class="text-danger" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$dirty">
                                          <div ng-message="required">Introduce el Email</div>
                                          <div ng-message="email">Formato de email incorrecto</div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Contraseña</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Contraseña" ng-model="signup.password" required/>
                                <div class="text-danger" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$dirty">
                                  <div ng-message="required">Introduce la contraseña</div>
                                </div>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirma Contraseña</label>
                              <div class="col-sm-7">
                              <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Contraseña" ng-model="signup.password2" password-match="signup.password" required/>
                                <div class="text-danger" ng-messages="signupForm.password2.$error" ng-if="signupForm.password2.$dirty">
                                  <div ng-message="required">Introduce otra vez la contraseña</div>
                                  <div ng-message="passwordNoMatch">Las contraseñas no coinciden</div>
                                </div>

                            </span>
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="user_name">Nombre</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" name="user_name" placeholder="Nombre" ng-model="signup.user_name" required/>
                                <div class="text-danger" ng-messages="signupForm.user_name.$error" ng-if="signupForm.user_name.$dirty">
                                  <div ng-message="required">Introduce tu nombre</div>
                                </div>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="surname">Apellidos</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Apellidos" name="surname" ng-model="signup.surname" required/>
                                <div class="text-danger" ng-messages="signupForm.surname.$error" ng-if="signupForm.surname.$dirty">
                                  <div ng-message="required">Introduce tus apellidos</div>
                                </div>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="username">Usuario</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Usuario" name="username" ng-model="signup.username" required/>
                                <div class="text-danger" ng-messages="signupForm.username.$error" ng-if="signupForm.username.$dirty">
                                  <div ng-message="required">Introduce tu nombre de usuario</div>
                                </div>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">¿Ya tienes una cuenta?  <a ui-sref="home.login">¡Conéctate!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
